.venv
.env
client_secret.json
dist/
build/
.vscode/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*/__pycache__/
*.pyc
docs/_build/
docs/source/_static/
docs/source/_templates/
docs/source/_autosummary/
docs/source/api/