repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.5
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.8.0
  #   hooks:
  #     - id: mypy

  - repo: local
    hooks:
      - id: poetry-lock-check
        name: Check Poetry Lock File
        entry: poetry check --lock
        language: system
        files: ^(pyproject\.toml|poetry\.lock)$

      # - id: poetry-pytest
      #   name: Run Unit Tests (Poetry)
      #   entry: poetry run pytest
      #   language: system
      #   pass_filenames: false
      #   always_run: true
      #   types_or: [python, toml]